//Text and Fonts
$coreFont: Roboto;
$mainTextColor: #f5f5f5;

$mainHighlightColor: #443157; //This is the logo purple

//Backgrounds
$backgroundColor: #a4508b;
$backgroundImage: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

$backgroundColor2: #4c4177;
$backgroundImage2: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);

$backgroundColor3: #6617cb;
$backgroundImage3: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
//Buttons and Form Elements
$buttonPrimary: #571b71;
