@import "theme";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap_overrides";

html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: $backgroundColor2;
  background-image: $backgroundImage2;
  background-size: cover;
  color: $mainTextColor;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
h2 {
  font-size: 1.25rem;
  font-weight: 400;
}

p {
  font-size: 0.8rem;
  font-weight: 100;
}

.react-svg {
}

.logo {
  width: 70%;
}

.title {
  font-size: 2rem;
  font-family: $coreFont;
}
